aiobotocore==3.9.1
aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aioitertools==0.13.0
aiosignal==1.4.0
annotated-types==0.8.0
astropy==8.0.1
astropy-iers-data==0.2026.9.7.0.56.14
asttokens==3.0.2
attrs==26.1.0
bokeh==3.10.0
botocore==1.43.75
cdshealpix==0.8.1
click==8.5.0
cloudpickle==3.1.2
comm==0.2.3
contourpy==1.3.3
cycler==0.12.1
dask==2026.8.0
debugpy==1.8.21
deprecated==1.3.1
distributed==2026.8.0
executing==2.2.1
fonttools==4.65.0
frozenlist==1.8.0
fsspec==2026.7.0
hats==0.10.4
human-readable==2.0.3
idna==3.19
ipykernel==7.3.0
ipython==9.17.1
ipython-pygments-lexers==1.1.1
jedi==0.20.0
jinja2==3.1.6
jmespath==1.1.0
jproperties==2.1.2
jupyter-client==8.10.0
jupyter-core==5.9.1
kiwisolver==1.5.1
llvmlite==0.49.0
locket==1.0.0
lsdb==0.10.4
lz4==4.4.5
markupsafe==3.0.3
matplotlib==3.11.1
matplotlib-inline==0.2.2
mocpy==0.20.0
msgpack==1.2.2
multidict==6.8.0
narwhals==2.26.0
nest-asyncio2==1.7.2
nested-pandas==0.6.10
numba==0.67.0
numpy==2.5.3
packaging==26.3
pandas==2.3.3
parso==0.8.7
partd==1.4.2
pathlib-abc==0.5.2
pexpect==4.9.0
pillow==12.3.0
pip==26.2.1
platformdirs==4.11.8
prompt-toolkit==3.0.53
propcache==0.5.2
psutil==7.2.2
ptyprocess==0.7.0
pure-eval==0.2.4
pyarrow==25.0.1
pydantic==2.13.5
pydantic-core==2.46.5
pyerfa==2.0.1.5
pygments==2.21.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
pytz==2026.3.post1
pyyaml==6.0.3
pyzmq==27.2.0
s3fs==2026.7.0
scipy==1.18.1
six==1.17.0
sortedcontainers==2.4.0
stack-data==0.6.3
tabulate==0.10.0
tblib==3.2.2
toolz==1.1.0
tornado==6.5.8
tqdm==4.70.1
traitlets==5.16.1
typing-extensions==4.16.0
typing-inspection==0.4.4
tzdata==2026.3
universal-pathlib==0.3.10
urllib3==2.7.0
wcwidth==0.8.3
wrapt==2.4.1
xyzservices==2026.9.1
yarl==1.24.5
zict==3.0.0
