astro-gdt==2.2.3
astropy==8.0.1
astropy-iers-data==0.2026.9.7.0.56.14
asttokens==3.0.2
cartopy==0.25.0
certifi==2026.7.22
comm==0.2.3
contourpy==1.3.3
cycler==0.12.1
debugpy==1.8.21
executing==2.2.1
fonttools==4.65.0
formulaic==1.2.2
healpy==1.18.1
interface-meta==2.0.1
ipykernel==7.3.0
ipython==9.17.1
ipython-pygments-lexers==1.1.1
jedi==0.20.0
jupyter-client==8.10.0
jupyter-core==5.9.1
kiwisolver==1.5.1
markdown-it-py==4.2.0
matplotlib==3.10.9
matplotlib-inline==0.2.2
mdurl==0.1.2
narwhals==2.26.0
nest-asyncio2==1.7.2
numpy==2.5.3
packaging==26.3
pandas==3.0.5
parso==0.8.7
patsy==1.0.3
pexpect==4.9.0
pillow==12.3.0
pip==26.2.1
platformdirs==4.11.8
prompt-toolkit==3.0.53
psutil==7.2.2
ptyprocess==0.7.0
pure-eval==0.2.4
pyerfa==2.0.1.5
pygments==2.21.0
pyparsing==3.3.2
pyproj==3.8.0
pyshp==3.1.6
python-dateutil==2.9.0.post0
pyyaml==6.0.3
pyzmq==27.2.0
rich==15.0.0
scipy==1.18.1
shapely==2.1.2
six==1.17.0
stack-data==0.6.3
statsmodels==0.15.0
tornado==6.5.8
traitlets==5.16.1
typing-extensions==4.16.0
wcwidth==0.8.3
wrapt==2.4.1
