jupytext
jupyterlab_execute_time
jupyter-resource-usage
jupyterlab-git
jupyterlab-myst
jupyter-vscode-proxy
jupyter_cpu_alive
dask-labextension
jupyter-firefly-extensions
pip
sos
sos-python
sos-r
sos-julia
sos-notebook
jupyterlab-sos
# notebook-intelligence