jupytext
jupyterlab_execute_time
jupyter-resource-usage
jupyterlab-git
jupyterlab-myst
jupyter-vscode-proxy
jupyter_cpu_alive
dask-labextension
jupyter-firefly-extensions
# litellm is needed by notebook-intelligence; >1.77.1 fails in building madoka
litellm==1.77.1
notebook-intelligence