name: AMI Build
on:
  workflow_dispatch:
    inputs:
      images:
        description: 'Images of the form: image-1:tag image-2:tag'
        required: true
        type: string
      launch:
        description: 'Launch?'
        required: true
        type: boolean
        default: false
      prod:
        description: 'prod?'
        required: true
        type: boolean
        default: false
      extra_args:
        description: 'extra args for ami-builder.py (e.g. --src .. when copying)'
        type: string

env:
  REGISTRY: ghcr.io

jobs:
  trigger-ami-build:
    runs-on: ubuntu-latest
    if: inputs.images != '[]'
  
    steps:
  
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Trigger the builder
        run: |
          echo "IMAGES = ${{ inputs.images }}"
          echo "launch? ${{ inputs.launch }}"
          echo "extra ${{ inputs.extra_args }}"
          LAUNCH=${{ inputs.launch && '--launch' || '' }}
          ENDPOINT="${{ inputs.prod && secrets.AMI_ENDPOINT_PROD || secrets.AMI_ENDPOINT }}"
          EXTRA="${{ inputs.extra_args }}"
          SSM_PATH="${{ github.head_ref || github.ref_name }}"
          export GITHUB_TOKEN="${{ secrets.GITHUB_TOKEN }}"
          python scripts/ami-builder.py \
            --endpoint $ENDPOINT \
            --ssm-path $SSM_PATH \
            ${{ inputs.images }} $LAUNCH $EXTRA

