name: Tag released images

on:
  release:
    types: [published]

env:
  REGISTRY: ghcr.io

jobs:

  prep-release:
    runs-on: ubuntu-latest

    # Sets the permissions granted to the `GITHUB_TOKEN` for the actions in
    # this job.
    permissions:
      contents: read
      packages: read
      attestations: write
    
    outputs:
      images: ${{ steps.image-list.outputs.IMAGE_LIST }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
    
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      
      - name: print a list of images
        id: image-list
        run: |
          images=$(python scripts/build.py --list-images)
          echo "Image List: ${images}"
          echo "IMAGE_LIST=${images}" >> $GITHUB_OUTPUT

        
  upload-locks:
    needs: prep-release
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        image: ${{ fromJson(needs.prep-release.outputs.images) }}

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Export the locks
        run: |
          python scripts/build.py --debug --no-build \
              --registry "$REGISTRY" --repository "${{ github.repository }}" \
              --tag develop \
              --export-lock "${{ matrix.image }}"
            
          # pack lock files into a zip file
          if [ -d ${{ matrix.image }}_locks ]; then
            zip -r "${{ matrix.image }}-environment-locks.zip" "${{ matrix.image }}_locks"
          fi
      
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.image }}-environment-locks
          path: ./${{ matrix.image }}-environment-locks.zip
      
      - name: Upload lock files to the release
        uses: softprops/action-gh-release@v2
        with:
          files: ./${{ matrix.image }}-environment-locks.zip

  
  release-images:
    needs: upload-locks
    runs-on: ubuntu-latest
    if: github.event.release.target_commitish == 'main'
    steps:

      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Tag main images with release tags
        run: |
          ENDPOINT="${{ secrets.ECR_ENDPOINT }} ${{ secrets.ECR_ENDPOINT_PROD }}"
          # Note that all images are tagged for release
          python scripts/build.py --debug --no-build \
              --registry "$REGISTRY" --repository "${{ github.repository }}" \
              --tag "${{ github.event.release.target_commitish }}" \
              --release "${{ github.event.release.tag_name }}" \
              --trigger-ecr --ecr-endpoint $ENDPOINT

  release-ami:
    needs: release-images
    runs-on: ubuntu-latest
    if: github.event.release.target_commitish == 'main'
    steps:

      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      
      - name: python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests
      
      - name: Trigger ami release
        run: |            
          echo "++++ Copy develop AMI to stable ++++ "
          ENDPOINT="${{ secrets.AMI_ENDPOINT }} ${{ secrets.AMI_ENDPOINT_PROD }}"
          python scripts/ami-builder.py --src develop --ssm-path stable \
              --endpoint $ENDPOINT
          RELEASE="${{ github.event.release.tag_name }}"
          echo "++++ Copy develop AMI to release: $RELEASE ++++ "
          python scripts/ami-builder.py --src develop --ssm-path $RELEASE \
              --endpoint $ENDPOINT